
// gallery CSS 
@media (min-width:801px) {
	.productView-details { 
	width: 35%;
	}
	.productView-description { 
	width: 35%;
	}
	.productView-images {
	width:62%;
	}

	.productView-image {  
	width: 100%;
	height: 100%;  
	background: #fff; 
	display: none; 
	} 


	.productView-image + .productView-thumbnails {

		.productView-thumbnail { width: 50%;
			.productView-thumbnail-link {
				width: 100%;
				height: 100%;
				max-width:100%;
				border: none;
				&:hover { border:none;}

				img { width: 100%; height: 100%;}
			}
		}
	}


	.closegallery {
		display: none;
	height: 2.28571rem;
	width: 2.28571rem;
	color: black;
	font-size: 26px;
	line-height: 2.28571rem;
	padding: 0;
	position: fixed;
	top: 10px;
	right: 0px;
	text-align: center;
	text-decoration: none;
	z-index: 50;
	}
	.imagesgallery { 
		.body {margin-top: 0rem;}
		.breadcrumbs { display: none;}
		.header { display: none;}
		.productView-image{ display: flex;}
		.productView-images {width: 100%;}
		#product-reviews { display: none;}
		.productView-details { display: none;}
		.productView-description { display: none;}
		.footer { display: none;}
		.tabs{ display: none;}
		.closegallery { display: block;}
		.tabs-contents { display: none;}

			.productView-image + .productView-thumbnails {

				.productView-thumbnail { width: 10%;
					.productView-thumbnail-link {
						width: 100%;
						height: 100%;
						max-width:100%;

						img { width: 100%; height: 100%;}
					}
				}
			}

	}


} 
